* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
    color: #222;
}


/* HEADER */

header {
    background: #cb9011;
    color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}


/* HOME */

.home {
    text-align: center;
    padding: 100px 20px;
    background: #333;
    color: white;
}

.home h1 {
    font-size: 50px;
    color: #cb9011;
}

.btn {
    display: inline-block;
    background: #cb9011;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
}


/* MENU */

#menu {
    padding: 50px 5%;
    text-align: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.food {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ccc;
}

.food img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.food button,
.cart button {
    background: #cb9011;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* CART */

.cart {
    background: white;
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
}

.cart h2 {
    text-align: center;
}

#cartList {
    margin: 20px 0;
}

.cart-item {
    padding: 10px;
    margin: 5px 0;
    background: #f1f1f1;
}


/* ABOUT + CONTACT */

#about,
#contact {
    text-align: center;
    padding: 50px 20px;
}


/* FOOTER */

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}


/* PHONE */

@media (max-width: 700px) {

    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin: 5px;
    }

    .menu {
        grid-template-columns: 1fr;
    }

    .home h1 {
        font-size: 40px;
    }
}
